/* VAR */

:root{

    /*  */
    --color-nav: black;
    --color-hero: #1e1e2f;
    --color-about-me: #4a90e2;
    --color-projects: #141625;
    --color-card: #ffffff;
    --color-form: #f5f5f5;
    --color-footer: #141625;
    --principal-color: white;

    /* FONT SIZE */
    --size__hero: 3em;
    --size__title: 4em;
    --size__text: 2em;
    --size__footer: 1.5em;

    /* Responsive Size */

    --responsive-size__title: 3em;
    --responsive-size__text: 1.5em;

    /* BUTTON */

    --button-hover: #005fcc;

}

/* GENERAL STYLES */

h1, h2, h3, h4, h5, h6{
    font-family: "Ubuntu", sans-serif;
}

p{
    font-family: "Ubuntu", sans-serif;
}

a {
    font-family: "Ubuntu", sans-serif;
    text-decoration: none;
    color: inherit;
}

a:hover{
    transform: translateY(-3px) scale(1.02);
}

label{
    font-family: "Ubuntu", sans-serif;
}

ul{
    text-decoration: none;
    font-family: "Ubuntu", sans-serif;
}

html{
  scroll-behavior: smooth;
}

/* BODY */

.body{
    margin: 0;
    display: grid;
    grid-template-areas: "header" "main" "footer";
    grid-template-rows: auto;
    min-height: 100vh;
}

/* HEADER */

.header{
    grid-area: header;

}

    /* NAV-BAR */

    nav{
        display: flex;
        justify-content: space-between;
        background-color: var(--color-nav);
        position: fixed;
        width: 100%;
        height: 5vh;
        align-items: center;
    }

        /* ELEMENTS */

        .nav__logo:hover{
            color: var(--color-about-me);
            transition: 0.5s;
        }

        .nav__links{
            padding-right: 10vw;
            display: flex;
            gap: 5vh;
            color: var(--principal-color);
            font-weight: bold;
        }

            .link:hover{
                color: var(--color-about-me);
                transition: 0.5s;
            }

        .nav__logo{
            padding-left: 10vw;
            color: var(--principal-color);
            font-weight: bold;
        }

.main{
    grid-area: main;
    display: grid;
    grid-template-areas: "hero" "aboutme" "projects" "contact";
    grid-template-rows: 100vh auto auto auto;
}

    /* HERO */

    .hero{
        background-color: var(--color-hero);
        grid-area: hero;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;

    }

        /* ELEMENTS */

        .hero__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .hero-section__img{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero__img{
            transition: transform 0.3s ease;
        }

        .hero__img:hover{
            transform: translateY(-6px) scale(1.02);
        }

        .hero__name{
            color: var(--principal-color);
            font-weight: bold;
            font-size: var(--size__hero);
            margin-top: var(--size__hero);
            margin-bottom: 0;
        }

        .hero__me{
            color: var(--color-about-me);
            font-weight: bold;
            font-size: var(--size__hero);
            margin-top: 0;
            margin-bottom: 0;
        }


    /* ABOUT */

    .about-me{
        grid-area: aboutme;
        display: flex;
        justify-content: center;
        background-color: var(--color-about-me);
        padding: 5em 20em 5em 20em;
    }

        /* ELEMENTS */

        .about-me__title{
            color: var(--principal-color);
            font-weight: bold;
            font-size: var(--size__title);
            margin: 0;
        }

        .about-me__content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
        }
            .about-me__p{
                color: var(--principal-color);
                font-size: var(--size__text);
            }

        .about-me__habs{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }

            .about-me__hab-list{
                list-style: none;
                padding: 0;
                margin: 1em 0 0 0;
            }

                .hab-list__skill{
                    font-size: var(--size__text);
                    color: var(--principal-color);
                }

    /* PROJECTS */

    .projects{
        padding-top: 5vh;
        padding-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--color-projects);
    }

        /* ELEMENTS */

        .project__cards{
            grid-area: projects;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
            gap: 5vh;
        }

            .projects__title{
                text-align: center;
                color: var(--principal-color);
                font-size: var(--size__title);
                margin-top: 0;
            }

            .card{
                background-color: var(--color-card);
                display: flex;
                flex-direction: column;
                border-radius: 15px;
                width: 40vh;
                padding: 2vh;
                transition: transform 0.3s ease;
            }

                .project__name, .project__desc, .project__tech{
                    margin: 0.3em 0 0.3em 0;
                }

                .project__name{
                    font-size: 1.5em;
                    font-weight: bold;
                }

                .project__tech{
                    font-weight: bold;
                }

                .project__bottom{
                    display: flex;
                    flex-direction: column;
                    gap: 2em;
                    margin-top: auto;
                }

                .project__button{
                    width: 100%;
                    padding: 1rem;
                    border: 1px solid #ccc;
                    border-radius: 0.5rem;
                    font-size: 1rem;
                    background-color: var(--color-about-me);
                    color: white;
                    border: none;
                    cursor: pointer;
                    transition: background-color 0.3s ease;
                }

                    .project__button:hover{
                        background-color: var(--button-hover);
                    }

                .card:hover{
                    transform: translateY(-6px) scale(1.02);
                }

            .card__img{
                width: 100%;
                height: 15em;
                object-fit: contain;
            }

    /* CONTACT */

    .contact{
        background-color: var(--color-form);
        padding: 5em 0 5em 0;
        grid-area: contact;
        display: flex;
        flex-direction: column;    
        align-items: center;
        justify-content: center;
    }

        /* ELEMENTS */

        .contact__form{
            display: flex;
            flex-direction: column;
            gap: 3vh;
            width: 50%;
        }

        .form__title{
            font-size: var(--size__title);
            text-align: center;
        }

        form label {
            align-self: flex-start;
            font-weight: bold;
        }
    
        form input,
        form textarea {
            width: 100%;
            padding: 0.75rem;
            border: 1px solid #ccc;
            border-radius: 0.5rem;
            font-size: 1rem;
            box-sizing: border-box;
        }
        
        form input[type="submit"] {
            background-color: #0077ff;
            color: white;
            border: none;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        form input[type="submit"]:hover {
            background-color: #005fcc;
        }

/* FOOTER */

.footer{
    background-color: var(--color-footer);
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

    /* ELEMENTS */

    .contact-info{
        color: var(--principal-color);
    }

        .contact-info__title{
            font-size: var(--size__hero);
            margin: 0;
        }

        .contact-info__email, .contact-info__github, .contact-info__linkedin{
            font-size: var(--size__footer);
            transform: translateY(-6px) scale(1.02);
        }

        .contact-info__link{
            color: var(--color-about-me);
        }

/* Tablet Responsive */

@media (max-width: 840px) {

    /* RESPONSIVE NAV */

    .nav{
        overflow-x: auto;
        white-space: nowrap;
    }

        /* ELEMENTS */

        .nav__links{
            padding-left: 5em;
            padding-right: 1em
        }

        .nav__logo{
            padding-left: 1em;
        }

    /* RESPONSIVE HERO */

    .hero{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

        /* ELEMENTS */

        .hero__content{
            padding-top: 8em;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

            .hero__name{
                font-size: var(--responsive-size__text);
            }

            .hero__me{
                font-size: var(--responsive-size__text);
            }

        .hero__img{
            width: 40%;
        }

    /* RESPONSIVE ABOUT-ME */

    .about-me{
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 5em 5em 5em 5em;
    }

        /* ELEMENTS */

        .about-me__title{
            font-size: var(--responsive-size__title);
        }

        .about-me__p, .hab-list__skill{
            font-size: var(--responsive-size__text);
        }

        .about-me__content{
            display: flex;
            flex-direction: column;

            width: 100%;
        }

        .about-me__habs{
            display: flex;
            flex-direction: column;
            width: 100%;
        }

    /* RESPONSIVE PROJECTS */

    /* ELEMENTS */

    .projects__title{
        font-size: var(--responsive-size__title);
    }

    .project__cards{
        grid-template-columns: 1fr 1fr;
        padding: 0 3em 0 6em;
    }

        .card{
            width: 80%;
        }


    /* RESPONSIVE CONTACT-FORM */

    .contact__form{
        width: 80%;
    }

        /* ELEMENTS */

        .form__title{
            font-size: var(--responsive-size__title);
        }

    /* RESPONSIVE CONTACT-INFO */

    .contact-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

        /* ELEMENTS */


        .contact-info__title{
            font-size: var(--responsive-size__title);
            text-align: center;
            padding-bottom: 1em;
        }

        .contact-info__email, .contact-info__github, .contact-info__linkedin{
            font-size: 1em;
        }
}

/* PHONES */

@media (max-width: 600px) {


    /* RESPONSIVE PROJECTS */

    .project__cards{
        grid-template-columns: auto;
        padding: 0;
        place-items: center;
    }

    .hero__img{
        width: 60%;
    }

    .card{
        width: 80%;
    }

}

/* LAPTOP */

@media (max-width: 1500px) {

        .hero__img{
            width: 80%;
        }

        .hero__name{
            font-size: 2em;
        }

        .hero__me{
            font-size: 2em;
        }

        .about-me{
            padding: 5em 5em 5em 5em ;
        }

        .about-me__content{
            width: 80%;
        }

        .card{
            width: 30vh;
        }
}
