body{
    background-color: rgb(60, 72, 240);    
    display: flex;
    justify-content: center;
}

#cv{    
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 10px;
    margin-top: 100px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cv h1{
    text-align: center;
}

#cv .table{
    border-collapse: collapse;
}


