body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* Navigation BAR*/

#nav{
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: space-between;
}

nav p, a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0;
}

nav a{
    margin: 0 20px;
}
nav a:hover{
    color:rgb(125, 222, 252);
}

/* Presentation*/

#presentation{
    color: #ffffff;
    background-color: #1e1e2f;
    padding: 250px 200px;
    display: flex;
    justify-content: space-between; 
}

/* About me*/

#about-me{
    padding: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #4a90e2;
    color: #ffffff;
}